.stack {
    display: flex;
    align-items: center;
    justify-content: center;
width:100%;

}

.stack div{
    margin-top: -500px;
}

.stack div h2{
    text-align: center;
    padding-bottom: 10px;
}

.stack img{
    width:70px;
    height: 70px;
    padding:10px;
} 

@media(max-width:900px){
    .stack div{
        margin-top: 50px;
        padding-bottom: 50px;
    }

    .stack img{
        width:50px;
        height: 50px;
    }
}